
body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #fdcb80;
}
h1 {
  font-family: broadway ;
  color:rgb(255, 255, 255);
  font-size: xx-large;
  text-align: center;
  
}
h2{
  color: #131212;
  font-size: x-large;
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-style: double;
}