
body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #fdcb80;
}
h1 {
  font-family: broadway ;
  color:rgb(255, 255, 255);
  font-size: xx-large;
  text-align: center;
  
}
h2{
  color: #131212;
  font-size: x-large;
}
.register button{
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #6c85a5;
  color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  margin: 0 1rem;
}
.login button{
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #6c85a5;
  color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  margin: 0 1rem;
}
