<h1>Register</h1>
<form action = "/register" method = "POST">
    <div>
        <label for="first">First Name</label>
        <input type="text" id="first" name="first" required>
    </div>
    <div>
        <label for="last">Last Name</label>
        <input type="text" id="last" name="last" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>
    </div>
    <button type ="submit">Submit</button>
</form>
<a href="/login">Login</a>
