@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

h2 { 
  font-weight: 600;
  margin-bottom: 10px;
  color: #040404
}
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
h4 {
  font-weight: 600;
}
h5 {
  font-weight: 500;
}


.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: rgb(253, 207, 121);
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.groups {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.group {
  margin: 10px 0;
  padding: 10px 0 10px;
  position: relative;
}
.group .classbtn {
  width: 100%;
  margin: 0px;
  padding: 25px 15px; 
  border: 1px solid #f4f4f4;
  border-radius: 70px;
  background: #f4f4f4;
  color: rgb(8, 8, 8);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .group .classbtn:hover {
    background-color: rgb(253, 207, 121);
    border-color:rgb(253, 207, 121);
}
.group .close {
  position: absolute;
  top: 23px;
  right: 20px;
  cursor: pointer;
  color: #f4f4f4;
  background-color: #f4f4f4;
  padding: 2.5px 5px;
  border: 1px solid #f4f4f4;
  border-radius: 100px;
}
.group .close:hover {
  position: absolute;
  top: 23px;
  right: 20px;
  cursor: pointer;
  color: #f4f4f4;
  background-color: rgb(189, 188, 188);
  padding: 2.5px 5px;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 100px;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid rgb(31, 64, 252);
  border-radius: 5px;
  background: rgb(31, 64, 252);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}



.btn:hover {
  transform: scale(0.98);
  background-color: rgb(253, 207, 121);
  border-color:rgb(253, 207, 121);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}